<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method = "post" action = "">
      <h3> Artist Name: <input type="text" name="artist_name"</h3>
      <h3> Year of Birth: <input type="text" name="year_of_birth"</h3>
      <h3> Month of Birth: <input type="text" name="month_of_birth"</h3>
      <h3> Date of Birth: <input type="text" name="day_of_birth"</h3>
      <h3> Song Name: <input type="text" name="song_name"</h3>
      <h3> Song Genre: <input type="text" name="genre"</h3>
      <h3> Song Year of Release: <input type="text" name="year_of_release"</h3>
      <br />
      <p>
        <input type = "submit" value= "Submit" />
      </p>


    </form>
  </body>
</html>
